<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sekretaris</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div id="app">
		<div class="jumbotron d-flex">
			<img src="logostransparent.png" style="height:5em;width:5em">
			<h1 style="position:relative;top:10px;margin-left:1em">Sekretaris</h1>
		</div>
		<div class="container">
			<h2>{{katanya}}</h2>
			<hr>
			<h4>{{date}}</h4>
			<p>centang kotak siswa jika hadir<br>klik tombol ini jika semua hadir</p>

			<button @click='centangSemua' class="btn btn-primary">Semua hadir!</button>
			<br>
			<br>
			<div class="table-responsive">
			<table class="table table-striped" id="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nama</th>
			      <th scope="col">Absen</th>
			      <th scope="col">Keterangan</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr  v-for="(murid,i) in siswa">
			      <th scope="row">{{i+1}}</th>
			      <td>{{murid.nama[0].toUpperCase()+murid.nama.slice(1)}}</td>
				  <td><input type="checkbox" v-model="murid.absen"></td>
				  <td v-if="!murid.absen"><input type="text" v-model="murid.ket" placeholder="Keterangan" class="form-control"></td>
				  <td v-else><p>Hadir!</p></td>
			    </tr>
			  </tbody>
			</table>
			</div>
			<div class="mt-5 mb-5">
				<button class="btn btn-info" @click="saveAbsen">Kirim Ke Whatsapp</button>
				<button class="btn btn-primary" onclick="copythe()">Copy to Clipboard</button>
				<button class="btn btn-outline-info" @click="createList">Bikin list!</button>
			</div>
			<div class="mb-5">
				<textarea class="form-control" style="height:500px" v-model='pesanAbsen' id="myInput" placeholder="Kalau tombol Whatsapp error, salin ini yak atau teken copy to clipboard ">
				</textarea>
			</div>
		</div>

	</div>
</body>
<script>
function copythe() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");

  alert('Copied!')
}

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</html>
