<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sekretaris</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div id="app">
		<div class="jumbotron d-flex">
			<img src="logostransparent.png" style="height:5em;width:5em">
			<h1 style="position:relative;top:10px;margin-left:1em">Sekretaris SMA Logos</h1>
		</div>
		<hr>
		<div class="container">
			<h1>Belajar apa hari ini?</h1>
			<h4>{{date}}</h4>
			<p>Tekan tombol + dipojok bawah</p>
			<br>
			<br>
			<div v-if="dataHariIni.length<1">
				<h3>Kosong :(</h3>
			</div>
			<div class="card" v-for="(len,i) in dataHariIni">
				<div class="card-header bg-primary">
					<h2 class="text-light">Pelajaran ke {{i+1}} : {{ dataHariIni[i].class }}</h2>
				</div>
				<div class="card-body">
					<p>Mata Pelajaran</p>
					<select class="form-control col-md-6" v-model="dataHariIni[i].class">
						<option v-for="mapel in pelajaran.map(i=>i.toUpperCase()).sort()">{{mapel}}</option>
					</select>
					<br><!-- 
					<p>Aplikasi Yang Digunakan</p>
					<div class="checkbox" v-for="device in alat">
						<label><input type="checkbox" v-model="dataHariIni[i][device]" :value="device" class="mr-2">{{device}}</label>
					</div> -->
					<br>
					<p>Keterangan</p>
					<textarea class="form-control" style="height:200px" placeholder="Keterangan" v-model="dataHariIni[i].ket"/></textarea>
					<br>
				</div>
			</div>
			<div v-if="dataHariIni.length>0" class="mt-5 mb-5">
				<button class="btn btn-info" @click="save">Kirim Ke Whatsapp</button>
			</div>
		</div>
		<div style="position:fixed;bottom:0;right:0">
			<button class="btn btn-primary mb-2 mr-2" style="border-radius:100%;width:4em;height:4em;" @click="tambah"><h2>+</h2></button>
		</div>

	</div>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</html>